import java.util.Scanner;
import java.util.Random;

public class VidenT {
  public static void main(String[] args) {
    Scanner scanner = new Scanner(System.in);
    Random random = new Random();

    System.out.println("Bem-vindo ao VidenT!");
    System.out.println("Por favor, diga-nos o seu nome:");
    String nome = scanner.nextLine();
    System.out.println("Obrigado, " + nome + "! Por favor, crie uma senha para a sua conta:");
    String senha = scanner.nextLine();
    System.out.println("Obrigado! esta preparado para saber seu futuro .");

    System.out.println("Vamos começar! Responda às seguintes perguntas para descobrir o seu futuro:");

    System.out.println("Qual é a sua cor favorita?");
    String cor = scanner.nextLine();

    System.out.println("Qual é o seu animal favorito?");

String animal = scanner.nextLine();
    
  System.out.println("Qual é o seu signo?");
  String signo = scanner.nextLine();

  System.out.println("Qual é o seu hobby favorito?");
  String hobby = scanner.nextLine();


  int resultado = random.nextInt(4);

  switch(resultado) {
    case 0:
      System.out.println("Parabéns, " + nome + "! Você está destinado a encontrar o amor da sua vida em breve si pa .");
      break;
    case 1:
      System.out.println("Cuidado, " + nome + "! Você pode enfrentar alguns desafios em sua carreira nos próximos meses.");
      break;
    case 2:
      System.out.println("Uau, " + nome + "! Você terá a oportunidade de viajar para um lugar incrível no próximo ano.");
      break;
    case 3:
      System.out.println("Fique atento, " + nome + "! Alguém próximo a você pode precisar de sua ajuda em breve.");
      break;
    case 4:
      System.out.println("tome cuidado, " + nome + " olhe bem pra onde voce anda tem alguem te observando .");
      break;
      case 5:
      System.out.println("fique atento, " + nome + " olhe bem por onde anda alguem esta te observando ! .");
      break;
      case 6:
      System.out.println("Vai acontecer !, " + nome + "Vai aconteser algo muito Grave daqui a 3 dias  .");
      break;
    default:
      System.out.println("Desculpe, " + nome + "! Algo deu errado. Tente novamente mais tarde.");
  }
}
}
